<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="net.rim.ejde.launching.DeviceLaunchConfiguration">
<stringAttribute key="Device" value="AnyDevice"/>
<stringAttribute key="attr.general.bundle" value="BlackBerry-SDK"/>
<stringAttribute key="attr.general.configFile" value="9550"/>
<stringAttribute key="attr.general.device" value="9550"/>
<stringAttribute key="attr.general.simulatorDir" value="C:\Eclipse\plugins\net.rim.ejde.componentpack5.0.0_5.0.0.36\components\simulator"/>
<listAttribute key="attr.projects.deployedProjects">
<listEntry value="blackberry"/>
</listAttribute>
<booleanAttribute key="deployProjectsToDevice" value="true"/>
<listAttribute key="org.eclipse.debug.ui.favoriteGroups">
<listEntry value="org.eclipse.debug.ui.launchGroup.debug"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.SOURCE_PATH_PROVIDER" value="net.rim.ejde.sourcelookup.RIMSourcePathProvider"/>
</launchConfiguration>
