<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="net.rim.ejde.launching.FledgeLaunchConfiguration">
<booleanAttribute key="attr.debug.doNotStopExecution" value="false"/>
<booleanAttribute key="attr.debug.interruptDebuggerOnDeadlock" value="false"/>
<booleanAttribute key="attr.general.automaticallyUseDefaultValue" value="false"/>
<stringAttribute key="attr.general.bundle" value="SimPackage-5.0.0.1076_9300"/>
<stringAttribute key="attr.general.configFile" value="9300"/>
<stringAttribute key="attr.general.device" value="9300"/>
<stringAttribute key="attr.general.deviceLocale" value=""/>
<booleanAttribute key="attr.general.enableDeviceSecurity" value="false"/>
<stringAttribute key="attr.general.esn" value=""/>
<stringAttribute key="attr.general.keyboardLocale" value=""/>
<stringAttribute key="attr.general.launchAppOnStartup" value="blackbery-jre-5.0.0"/>
<booleanAttribute key="attr.general.launchMDSCS" value="false"/>
<stringAttribute key="attr.general.meid" value=""/>
<stringAttribute key="attr.general.numberOfSecondsToWaitBeforeResponse" value=""/>
<stringAttribute key="attr.general.pin" value="0x2100000A"/>
<stringAttribute key="attr.general.simulatorDir" value="C:\Program Files (x86)\Research In Motion\BlackBerry Smartphone Simulators 5.0.0\5.0.0.1076 (9300)"/>
<intAttribute key="attr.jre.type" value="0"/>
<stringAttribute key="attr.memory.appHeapSize" value=""/>
<stringAttribute key="attr.memory.brandingData" value=""/>
<booleanAttribute key="attr.memory.destroyExistingSDImage" value="false"/>
<stringAttribute key="attr.memory.fileSystemSize" value=""/>
<booleanAttribute key="attr.memory.formatSDOnStartup" value="false"/>
<booleanAttribute key="attr.memory.noMultimediaCardSimulation" value="false"/>
<booleanAttribute key="attr.memory.noSplitMMCPartitionIntoDifferentFiles" value="false"/>
<booleanAttribute key="attr.memory.notCompactFSOnExit" value="false"/>
<booleanAttribute key="attr.memory.notSaveFlashDataOnExit" value="false"/>
<stringAttribute key="attr.memory.pcFileSystemPath" value=""/>
<booleanAttribute key="attr.memory.resetFileSystemOnStartup" value="false"/>
<booleanAttribute key="attr.memory.resetNVRAMOnStartup" value="false"/>
<stringAttribute key="attr.memory.sdCardImage" value=""/>
<stringAttribute key="attr.memory.sdCardSize" value=""/>
<booleanAttribute key="attr.memory.simNoSDInserted" value="false"/>
<booleanAttribute key="attr.memory.usePCFileForSDFiles" value="false"/>
<booleanAttribute key="attr.network.autoAnswerOutgoingCall" value="false"/>
<booleanAttribute key="attr.network.disableRegistration" value="true"/>
<stringAttribute key="attr.network.iccid" value=""/>
<booleanAttribute key="attr.network.ignoreUDPPortConflict" value="false"/>
<stringAttribute key="attr.network.imei" value=""/>
<stringAttribute key="attr.network.imsi" value=""/>
<stringAttribute key="attr.network.ip" value=""/>
<listAttribute key="attr.network.networks"/>
<stringAttribute key="attr.network.pdePort" value=""/>
<listAttribute key="attr.network.phoneNumbers"/>
<booleanAttribute key="attr.network.saveSimCardData" value="false"/>
<booleanAttribute key="attr.network.simulateSimNotPresent" value="false"/>
<stringAttribute key="attr.network.smsDestinationPort" value=""/>
<stringAttribute key="attr.network.smsSourcePort" value=""/>
<booleanAttribute key="attr.network.startWithRadioOff" value="false"/>
<stringAttribute key="attr.ports.bluetooth.port" value=""/>
<booleanAttribute key="attr.ports.usbCableConnected" value="false"/>
<listAttribute key="attr.projects.deployedProjects">
<listEntry value="blackbery-jre-5.0.0"/>
</listAttribute>
<booleanAttribute key="attr.view.disableAutoBacklightShutOff" value="false"/>
<booleanAttribute key="attr.view.displayLCDOnly" value="false"/>
<booleanAttribute key="attr.view.hideNetworkInformation" value="false"/>
<stringAttribute key="attr.view.lcdZoom" value=""/>
<booleanAttribute key="attr.view.notShowHelpForKeyMapping" value="false"/>
<stringAttribute key="attr.view.pathToConfigPack" value=""/>
<stringAttribute key="customizedCommandLine" value=""/>
<stringAttribute key="customizedMDSDirectory" value=""/>
<stringAttribute key="customizedWorkingDirectory" value=""/>
<booleanAttribute key="notSimulateAuthenticRIMBattery" value="false"/>
<booleanAttribute key="notUsePcNumpadForTrackball" value="false"/>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/blackbery-jre-5.0.0"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="4"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.SOURCE_PATH_PROVIDER" value="net.rim.ejde.sourcelookup.RIMSourcePathProvider"/>
<booleanAttribute key="useCustomizedCommandLine" value="false"/>
</launchConfiguration>
